@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.ttf');
}

.monFont{
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    color: black;
}

@media screen and (min-width: 501px){
    .monFont{
        font-size: 35px;
    }
}

@media screen and (max-width: 500px){
    .monFont{
        font-size: 30px;
    }
}
body{
    font-family: Montserrat;
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    background: #90C8C5;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(47, 221, 198);
    border-radius: 0;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand span {
    font-weight: bold;
    color: #ffffff;		
}
.navbar .navbar-brand b {
    font-weight: bolder;
    color: #7c7979;		
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #ffffff;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

@media (max-width: 768px){
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}

#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
  }
  #thumbnail-preview-indicators .slides .slide-1, 
  #thumbnail-preview-indicators .slides .slide-2,
  #thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
      #thumbnail-preview-indicators,
      #thumbnail-preview-indicators .slides,
      #thumbnail-preview-indicators .slides .slide-1, 
      #thumbnail-preview-indicators .slides .slide-2,
      #thumbnail-preview-indicators .slides .slide-3 {
        height: 480px;
      }
  #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/150427192153-aman-nepal-bhaktapur-earthquake-full-169.jpg); 
  }
  #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(http://footage.framepool.com/shotimg/qf/993893862-kesennuma-tohoku-earthquake-tidal-wave-seequake.jpg);
  }
  #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(https://d.ibtimes.co.uk/en/full/1437494/nepal-earthquake.jpg?w=736&e=a710a35f7cac1f0672ff1f9f213e1445);
  }
  #thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
    top: 20%;
    bottom: inherit;
  }
  #thumbnail-preview-indicators .carousel-indicators li,
  #thumbnail-preview-indicators .carousel-indicators li.active {
    position: relative;
    width: 100px;
    height: 8px;  
  }
  #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    position: absolute;
    top: 0;
    width: 100px;
    display: none;
    opacity: 0;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
  }
  #thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
  #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
    display: block;
    opacity: .8;
  }
  #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
    opacity: 1;
  }
  @media screen and (max-width : 480px) {    
      #thumbnail-preview-indicators .carousel-indicators li,
      #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
      }
      #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
         width: 50px;
         left: 50%;
         margin-top: -50px;
         margin-left: -25px;
      }
  }

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}

input[type=text], select, textarea{
    width: 70%;
    padding: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea{
    width: 70%;
    padding: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.navbar-header.col {
    padding: 0 !important;
}	

.column-left{ 
	float: left; 
	width: 33%; 
}
.column-right{ 
	float: right; 
	width: 33%; 
}
.column-center{ 
	display: inline-block; 
	width: 33%; 
}

.wrapper {
	display: grid;	
}

.wrapper > div {
	background-color: #90C8C5;
	background-color: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background-color: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wrapper > div:nth-child(odd){
	background-color: #eee;
}

