{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
<div style="margin-bottom: 75px background: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178)); border-radius: 1em; margin-top: 1.2em;">
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 5px; margin-top: 20px">Selamat Datang <br> <br>{{ User }}</h1>
    </div>
    <div class = "container" style="margin-top:50px">
        {% if donasi %}
        <h3 style="text-align: center; margin-bottom: 5px; margin-top: 20px">Berikut adalah daftar donasi yang telah anda lakukan</h3>
        <table class="table" style="text-align:center">
            <thead>
                <tr>
                    <th scope="col">Nama Program</th>
                    <th scope="col">Jumlah Donasi</th>
                </tr>
            </thead>
            <tbody id = result>
            <!-- {% for donasi in donasi %}
            <tr>
                <td style=text-align:start scope="row">{{donasi.namaProgram}}</td>
                <td style=text-align:start scope="row">{{donasi.jumlahDonasi}}</td>
            </tr>
            {% endfor %} -->
            </tbody>
        </table>
        {% else %}
        <h2 style="text-align:center; margin-top:120px; margin-bottom:20px"> Anda belum melakukan donasi </h2>
        {% endif %}
        <button class = "btn-lg pull-right" style = margin-right:100px><a href="{% url 'program' %}">Mau Berdonasi?</a></button>
    </div>
</div>
<script>
    $(document).ready(function() {
        $.ajax({
            url:"/daftar-donasi/data/",
            dataType:"json",
            success: function(response){
                console.log("success");
                var list = response["data"];
                var append = "";
                for (i = 0; i < list.length; i++){
                    append += "<tr>";
                    append += "<td style=text-align:start scope=row>"+list[i]['nama_program']+"</td>";
                    append += "<td style=text-align:start scope=row>"+list[i]['jumlah']+"</td>";
                    append += "</tr>"
                }
                $('#result').html(append);
            }
        })
    })
</script>
{% endblock %}