{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <div class=row>
        <div class=col-sm-6>
            <img src="{% static 'regis.png' %}" , width="100%">
        </div>
        <div class=col-sm-6>
            <form id="form" method="POST" action="{% url 'registration' %}">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %} 