{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <div class="container" style="margin_top: 150px; padding: 50px; text-align: center;">
        <h1 class="form1">MASUK</h1>
        <h2 class="form2"><i>MASUK MENGGUNAKAN AKUN GOOGLE.</i></h2>
        <br><br><br><br>
        <a id='redirect' href="{% url 'social:begin' 'google-oauth2' %}" style="margin:50px">
            <img src="{% static 'Login/img/google_signin.png' %}" />
        </a><br>
    </div>   

    <script>
        $( document ).ready(function() {
            $("#redirect").prop("href", function(){
                var results = new RegExp('[\?&]' + 'next' + '=([^&#]*)').exec(window.location.href);
                var redirect_to = "{% url 'social:begin' 'google-oauth2' %}";
                console.log(results);
                if (results!=null) {
                    console.log("!=null");
                    return redirect_to + "?next=" + decodeURI(results[1]) || 0;
                }                
                console.log("==null");
                console.log(redirect_to + "?next=/");
                return redirect_to + "?next=/";
            });
        });
    </script>
{% endblock %}