{% extends "base.html"%}

{% block content %}
    {% if user and not user.is_anonymous %}
        <div class="container" id="signout" style="margin_top: 150px; padding: 50px; text-align: center;">
            <h1 class="form1">KELUAR</h1>
            <h2 class="form2"><i>KELUAR DARI AKUN ANDA?</i></h2>
            <br><br><br><br>
            <a href="/login/logout" onclick="signOut();"><button class="btn btn-submit btn-lg btn-block">KELUAR</button></a>
            <br>
        </div>   
    {% else %}
        <div class="container" id="signout" style="margin_top: 150px; padding: 50px; text-align: center;">
            <h1 class="form1">ANDA BELUM MASUK MENGGUNAKAN AKUN ANDA.</h1>
            <h2 class="form2"><i>INGIN <a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}">MASUK</a>?</i></h2>
        </div>
    {% endif %}
{% endblock %}