{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row default">
    <div class="col-md-1">
        <p style="color:white"> . </p>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="roundedrec1" style="margin-bottom:6.7%;">
            <div class="insiderec1">
                <p class="form1">FORMULIR DONASI</p>
                <p class="letFont">{{ nama_program.full_title | title }}</p>
                <p class="form2">NAMA</p>
                <h1 style="text-align:center;">{{ nama_lengkap }}<br><br></h1>
                <p class="form2">E-MAIL</p>
                <h1 style="text-align:center;">{{ email_user }}</h1>
                <p class="form3">
                    BUKAN ANDA? 
                    <a href="{% url 'logout' %}" onclick="signOut();">
                        <button class="btn btn-submit" value='keluar'>KELUAR</button>
                    </a>
                </p>
                <form id="form" method="POST" action="" style="text-align:center;">
                    {% csrf_token %}
                    <br>
                    {% for formul in form %}
                    <div class="form2">{{ formul.label_tag}} <br> {{ formul }}</div>
                    {% endfor %}
                    <br>
                    <button type="submit" value='donasi' class="btn btn-default" action=''>Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}