{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row">
        <img src="{% static 'handshake.png' %}" style="width:100%; height: 50vh;">
</div>
<div class="row">
    <div class="col-lg=12 col-md-12 col-sm-12">
        <p style="text-align:center; font-size: 50px;letter-spacing: 10px;"><br>TERIMA KASIH<br></p>
        <p style="text-align:center; font-size: 30px;letter-spacing: 10px;"> ATAS DONASI ANDA</p>
    </div>
</div>

{% endblock %}