{% extends "base.html"%}
{% load staticfiles %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% block content %}
<h2 style="text-align: center;">Tentang Kami</h2>
<h1 style="text-align: center; margin-bottom: 1em"><span>s i n a r</span><b style="color: #7c7979"> p e r a k</b></a></h1>

<div class="container" style="text-align: center; text-align: justify; text-justify: inter-word; text-indent: 4em">
	<h4>Sinar Perak merupakan yayasan penggalang dana bagi orang-orang yang membutuhkan bantuan. Kami berkomitmen untuk memberikan pelayan yang terbaik dan profesional sehingga bantuan yang anda salurkan benar-benar tersampaikan. Perusahaan kami telah melakukan penggalangan dana sejak 2008 dan terus berusaha berinovasi untuk memberikan hasil yang maksimal.</h4>
</div>

<div class="container" style="background: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178)); border-radius: 1em; margin-top: 1.2em;">
	<div>
		<div class="col-sm-12">
			<h2 style="text-align: center; margin-bottom: 1em; color: white">Apa yang <b style="color: black">Donatur</b> kami katakan</h2>
			<div id="tabholder">
				<div id="lineholder">
					<div id="new_testimonie"></div>
					<div id="old_testimonie"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<h3 style="text-align: center; display: none;" id="username_temp">{{ User }}</h3>

{% if user and not user.is_anonymous %}
	<div style="margin-left: 25%; right: 25%; margin-top: 2em; margin-bottom: 2em;">
		<h3>Bagaimana dengan pendapat anda, {{ User }} ?</h3>
		<form method="post" id="form-testimonie">
			{% csrf_token %}
			{{ form.as_p }}
			<button id="submit" type="submit" class="btn btn-success">submit</button>
		</form>
		<p id="error_message" style="color: #cc0000; margin-top: 1em;"></p>
	</div>   
{% else %}
	<div class="container" style="margin-left: 25%; right: 25%; margin-top: 2em; margin-bottom: 4em;">
		<h3>
			<a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}">MASUK</a> UNTUK DAPAT MEMBERIKAN TESTIMONI ANDA.
		</h3>
		
	</div>  
{% endif %}
<script type="text/javascript" src="{% static 'js/about_js.js' %}"></script>
{% endblock %}
