.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    background: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178)); 
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(47, 221, 198);
    border-radius: 0;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand span {
    font-weight: bold;
    color: #ffffff;		
}
.navbar .navbar-brand b {
    font-weight: bolder;
    color: #7c7979;		
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #ffffff;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.column-left{ 
	float: left; 
	width: 33%; 
}
.column-right{ 
	float: right; 
	width: 33%; 
}
.column-center{ 
	display: inline-block; 
	width: 33%; 
}

.wrapper {
	display: grid;	
}

.wrapper > div {
	background-color: #90C8C5;
	background-color: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background-color: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wrapper > div:nth-child(odd){
	background-color: #eee;
}

.footer {
	position: fixed;
	height: 40px;
	bottom: 0;
	color:#fff;
	padding-top:10px;
	margin-top: 80px;
	width: 100%;
	background: rgb(22, 192, 178); 
	background: -webkit-linear-gradient(to right, rgb(29, 63, 114), rgb(22, 192, 178));  
	background: linear-gradient(to right, rgb(29, 63, 114), rgb(22, 192, 178)); 
	text-align:center;
}

@media (max-width: 768px){
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}