@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.ttf');
}

@media screen and (min-width: 501px){
    .letFont{
        font-size: 40px;
    }
    
    .monFont{
        font-size: 35px;
    }
}

@media screen and (max-width: 500px){
    .letFont{
        font-size: 35px;
    }
    
    .monFont{
        font-size: 30px;
    }
}

@media screen and (max-width: 1500px){
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}

.monFont{
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    color: black;
}

body{
    font-family: Montserrat;
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    background: #90C8C5;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(47, 221, 198);
    border-radius: 0;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand span {
    font-weight: bold;
    color: #ffffff;		
}
.navbar .navbar-brand b {
    font-weight: bolder;
    color: #7c7979;		
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #ffffff;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-info, .navbar .nav .btn-info:active {
    color: #fff;
    background: #3386ca;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .nav .btn-info:hover, .navbar .nav .btn-info:focus {		
    color: #fff;
    outline: none;
    background: #3173bf;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
    color: #7c7979;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}

.footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    color:#fff;
    padding-top:10px;
    margin-top: 80px;
    width: 100%;
    background: rgb(22, 192, 178); 
    background: -webkit-linear-gradient(to right, rgb(29, 63, 114), rgb(22, 192, 178));  
    background: linear-gradient(to right, rgb(29, 63, 114), rgb(22, 192, 178)); 
    text-align:center;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}

input[type=text], select, textarea{
    width: 70%;
    padding: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea{
    width: 70%;
    padding: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.navbar-header.col {
    padding: 0 !important;
}	

.column-left{ 
	float: left; 
	width: 33%; 
}
.column-right{ 
	float: right; 
	width: 33%; 
}
.column-center{ 
	display: inline-block; 
	width: 33%; 
}

.wrapper {
	display: grid;	
}

.wrapper > div {
	background-color: #90C8C5;
	background-color: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
    background-color: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.wrapper > div:nth-child(odd){
	background-color: #eee;
}

.roundedrec1 {
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px #31bfb1;
    margin-top:30px;
    margin-bottom:30px;    
}

.insiderec1 {
    padding: 20px;
    background: #FFFFFF;
}

.letFont{
    font-family: Winter Calligraphy;
    font-weight: normal;
    text-align: center;
    color: grey;
    letter-spacing: 5px;
}

.form1{
    color: grey;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
}

.form2{
    color: #8dbdb8;
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
}

.form3{
    color: #8dbdb8;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
}