{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <div style="margin-bottom: 75px">
        <div class="container roundedrec1 insiderec1" 
        style="background: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
        background: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178)); border-radius: 1em; margin-top: 1.2em;">
            <p class="form1" style="color: white; text-align: center; margin-bottom: 5px; margin-top: 20px">{{ program.full_title | title }}</h1>
            <p class="form2" style="text-align: center; margin-bottom: 30px; margin-top: 10px"><strong>{{ program.description }}</strong></p>
            <img class="img-responsive" src="{{ program.pic }}">
            <p class="form3" style="text-align: right; margin-bottom: 20px; margin-top: 20px">
                Dibuka sejak <strong>{{ program.date_opened }}</strong> sampai <strong>{{ program.date_closed }}</strong>
            </p>

            <p class="form2" style="color: white; margin-top: 80px;">P E N D O N A S I</h2>
            {% if donors %}
                <div class="table-responsive" style="margin-top:20px; margin-bottom: 20px">
                    <table class="table" style="text-align:center">
                        <thead style="background-color: #181b1b9a">
                            <tr>
                                <th class="form2" style="text-align: center">Nama Pendonasi</th>
                                <th class="form2" style="text-align: center">Jumlah Donasi</th>
                            </tr>
                        </thead>
                        
                        <tbody style="background-color: #0553409a">
                            {% for donor in donors %}
                            <tr>
                                {% if donor.is_anon %}
                                    <td class="form3" style="text-align: center">-Anonim-</td>
                                {% else %}
                                    <td class="form3" style="text-align: center">{{donor.namaLengkap}}</td>
                                {% endif %}
                                <td class="form3" style="text-align: center">{{donor.jumlahDonasi}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="form2" style="margin: 50px">Belum ada yang berdonasi di program ini. Jadilah yang pertama!</h2>
            {% endif %}
            {% if user.is_authenticated %}
                <p><a href="{% url 'form' program.id %}"class="btn btn-success btn-block btn-lg" role="button">KLIK DI SINI UNTUK DONASI</a></p>
            {% else %}
                <p><a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" class="btn btn-primary btn-block btn-lg" role="button">MASUK UNTUK BERDONASI</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}