{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
	<h1 style="text-align: center; margin-bottom: 50px; margin-top: 50px">P R O G R A M</h1>
	<div style="margin-bottom: 75px">
		{% if prog %}
			<div class="container">
				<div class="row">
					{% for prgrm in prog %}
					<div class="col-md-4">
						<div class="thumbnail">
							<a href="{{ prgrm.get_absolute_url }}"><img src="{{ prgrm.pic}}"></a>
							<!-- <a href="{% url 'form' prgrm.id %}"><img src="{{ prgrm.pic}}"></a> -->
							<div class="caption">
								<h3>{{ prgrm.name }}</a></h3>
								<p class="card-description"><strong>{{prgrm.description}}</strong></p>
								<p>{{prgrm.date_opened}} - {{prgrm.date_closed}}</p>
								<p><a href="{{ prgrm.get_absolute_url }}"class="btn btn-primary btn-block btn-xs" role="button">LIHAT PROGRAM</a></p>
								<!-- {% if user.is_authenticated %}
									<p><a href="{% url 'form' prgrm.id %}"class="btn btn-primary btn-block btn-xs" role="button">KLIK DI SINI UNTUK DONASI</a></p>
								{% else %}
									<p><a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" class="btn btn-primary btn-block btn-xs" role="button">MASUK</a></p>
								{% endif %} -->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<p>There are no programs.</p>
		{% endif %}
	</div>
{% endblock %}