{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SinarPerak Funding Corp. Ltd.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">

</head>

<body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
        <div class="navbar-header d-flex col mr-auto">
            <a class="navbar-brand" href="{% url 'index' %}"><span>s i n a r</span><b> p e r a k</b></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse monFont" style="font-size: 15px;">
            <ul class="nav navbar-nav d-flex">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">B E R A N D A</a></li>
                <li class="nav-item"><a href="{% url 'news' %}" class="nav-link">B E R I T A</a></li>
                <li class="nav-item"><a href="{% url 'program' %}" class="nav-link">P R O G R A M</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">T E N T A N G  K A M I</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto navbar-right">
                {% if user and not user.is_anonymous %}
                    <li class="nav-item"><a href="{% url 'daftar-donasi' %}" class="nav-link">Halo, {{ user.first_name }}.</a></li>
                    <li class="nav-item"><a href="{% url 'logout_page' %}?next={{request.get_full_path|urlencode}}" onclick="signOut();" style="padding: 10px; margin: 5px 0" class="nav-link btn btn-info ">Keluar</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" style="padding: 7px; margin: 8px 15px" class="nav-link btn btn-info ">M A S U K</a></li>
                    <li class="nav-item"><a href="{% url 'registration' %}" style="padding: 7px; margin: 8px 0" class="btn btn-primary get-started-btn mt-1 mb-1">B U A T  A K U N</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    {% block content %}
    <!--content goes here-->
    {% endblock content %}

    <script>
        $(document).ready(function() {
            // get current URL path and assign 'active' class
            var pathname = window.location.pathname;
            $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
        })
    </script>
</body>

</html>