{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <div class="row image-responsive">
        <img src="{% static 'hand.png' %}" style="width:100%; height: 50vh;">
    </div>

    <div style="margin-top: 50px; margin-bottom: 50px">
        <h1 style="text-align: center; margin-bottom: 50px">B E R I T A</h1>
        <div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for berita in list_news %}
                    {% if forloop.counter == 1 %}
                        <div class="item slides active">
                            <div class="slide-1">
                                <div class="text-center">
                                    <img src="{{ berita.picture }}">
                                </div>
                            </div>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>{{ berita.title }}</h1>
                                    <p>{{ berita.description }}</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ berita.get_absolute_url }}" role="button">Baca</a></p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="item slides">
                            <div class="slide-{{forloop.counter}}">
                                <div class="text-center">
                                    <img src="{{ berita.picture }}">
                                </div>
                            </div>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>{{ berita.title }}</h1>
                                    <p>{{ berita.description }}</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ berita.get_absolute_url }}" role="button">Baca</a></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'news' %}">
                    <button class="btn btn-secondary btn-lg pull-right" style="margin-top: 20px; margin-right: 10px">
                        BACA SELENGKAPNYA <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </a>
            </div>
        </div>        
    </div>

    <div style="margin-top: 50px; margin-bottom: 75px">
        <div class="container">
            <h1 style="text-align: center; margin-bottom: 50px">P R O G R A M</h1>
            <div class="row">
                <div class="list-group">
                    {% for prog in list_prog %}
                        <a href="{% url 'program' %}" class="list-group-item">
                            <div class="media col-md-3">
                                <figure class="pull-left">
                                    <img class="media-object img-rounded img-responsive" style="white-space: nowrap;" src="{{ prog.pic }}">
                                </figure>
                            </div>
                            <div class="col-md-6">
                                <h3><u class="list-group-item-heading">Funding</u></h3> 
                                <h3><p class="list-group-item-text">{{ prog.full_title }}</p></h3>
                            </div>
                            <div class="col-md-3 text-center pull-right">
                                <button type="button" class="btn btn-primary btn-lg btn-block">Lihat Program</button>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url 'program' %}">
                            <button class="btn btn-secondary btn-lg pull-right" style="margin-top: 20px; margin-right: 10px">
                                BACA SELENGKAPNYA <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </div>     
            </div>
        </div>
    </div>
{% endblock %}                                                                                 
