{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <div style="margin-bottom: 75px">
        <div class="container roundedrec1 insiderec1" 
        style="background: -webkit-linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178));  
        background: linear-gradient(to left, rgb(29, 63, 114), rgb(22, 192, 178)); border-radius: 1em; margin-top: 1.2em;">
            <p class="form1" style="color: white; text-align: center; margin-bottom: 5px; margin-top: 20px">{{ berita.title }}</h1>
            <p class="form2" style="text-align: center; margin-bottom: 30px; margin-top: 10px"><strong>{{ berita.description }}</strong></p>
            <img class="img-responsive" src="{{ berita.picture }}">
            <p class="form3" style="text-align: right; margin-bottom: 20px; margin-top: 20px"><strong>{{ berita.post_date }}</strong> by <strong>{{ berita.author }}</strong></p>
            <article class="form3" style="color:white ;text-align: justify; margin-bottom: 20px; margin-top: 20px">{{berita.news}}</article>
        </div>
    </div>
{% endblock %}