{% extends "base.html"%}
{% load staticfiles %}
{% block content %}
    <h1 style="text-align: center; margin-bottom: 50px; margin-top: 50px">B E R I T A</h1>

    <div style="margin-bottom: 75px">
    {% if list %}
        <div class="container">
            <div class="row">
                {% for berita in list %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ berita.get_absolute_url }}"><img src="{{ berita.picture}}"></a>
                        <div class="caption">
                            <h3><a href="{{ berita.get_absolute_url }}">{{ berita.title }}</a></h3>
                            <p class="card-description"><strong>{{berita.description}}</strong></p>
                            <p>{{berita.post_date}}</p>
                            <p><a href="{{ berita.get_absolute_url }}" class="btn btn-primary btn-block btn-xs" role="button">Baca</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>There are no news.</p>
    {% endif %}
    </div>
{% endblock %}